<div class="col-lg-6" *ngIf="identity">
	<h1>{{title}}</h1>
	<!--Formulario-->
	<div *ngIf="alertUpdate">
		<div class="alert alert-info" role="alert">
			{{alertUpdate}}
		</div>
	</div>
	<div *ngIf="mensajeError">
		<div class="alert alert-danger" role="alert">
			{{mensajeError}}
		</div>
	</div>
	<form #userUpdateForm="ngForm" (ngSubmit)="onUserUpdate()" class="col-md-10">
		<p>
			<label>Nombre: </label>
			<input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required/>
			<span *ngIf="!name.valid && name.touched">
				Campo obligatorio
			</span>
		</p>
		<p>
			<label>Apellidos: </label>
			<input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" required/>
		</p>
		<p>
			<label>Correo Electronico: </label>
			<input type="email" class="form-control" #email="ngModel" name="email" [(ngModel)]="user.email" required/>
			<span *ngIf="!email.valid && email.touched">
				Campo Obligatorio
			</span>
		</p>

		<div class="image_for_edit" *ngIf="user.image && user.image!='null'"> 
			<img src=""/>
		</div>
		<p>
			<label>Sube tu foto:</label>
			<input type="file" placeholder="Subir imagen" (change)="fileChangueEvent($event)"/>
		</p>

		<input type="submit" value="Actualizar" class="btn btn-primary">
	</form>
</div>